name: Release Tag
on:
  pull_request:
    branches:
      - main
    types: [closed]
jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set current date
        id: current_date
        env:
          TZ: 'Asia/Tokyo'
        run: echo "current_date=$(date +'%Y%m%d%H%M')" >> $GITHUB_ENV
      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: release-${{ env.current_date }}
          release_name: release-${{ env.current_date }}
          draft: false
          prerelease: false
